@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #13293d;
  width: 100%;
  height: 100vh;
}

.titulo {
  color: #006494;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.titulo h1 :hover{

}

.titulo h1 {
  font-size: 50px;
  color: #e8f1f2;
}

.titulo p {
  font-weight: bold;
  font-size: 30px;
}
